@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #C5D930, #F2CF63);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(63, 22, 68, 0.575);
    width: 600 px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #542D59;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(105, 70, 3, 0.719);
}
h2 {
    color: #F25D50;
}
p {
    text-align: justify;
}